.content .information .Aunt_list{
    width: 200px;
    height: 30px;
    display: block;
    font-size: 15px;
    color: green;
    border: 3px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.sub{
    width: 100px;
    height: 40px;
    background: #2e8e26;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
}
.content .information .infom a{
    color:blue;
}
.content .information .infom a:hover{
    text-decoration: underline;
    color:red;
}